= form_for @task, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :titulo, :class => 'control-label'
    .controls
      = f.text_field :titulo, :class => 'text_field'
  .control-group
    = f.label :descripcion, :class => 'control-label'
    .controls
      = f.text_area :descripcion, :class => 'text_area'
  .control-group
    = f.label :fecha_inicio, :class => 'control-label'
    .controls
      = f.date_select :fecha_inicio, :class => 'date_select'
  .control-group
    = f.label :fecha_finalizacion, :class => 'control-label'
    .controls
      = f.date_select :fecha_finalizacion, :class => 'date_select'
  .control-group
    = f.label :dificultad, :class => 'control-label'
    .controls
      = f.number_field :dificultad, :class => 'number_field'
  .control-group
    = f.label :user_id, :class => 'control-label'
    .controls
      = f.number_field :user_id, :class => 'number_field'
  .control-group
    = f.label :proyect_id, :class => 'control-label'
    .controls
      = f.number_field :proyect_id, :class => 'number_field'
  .control-group
    = f.label :task_type_id, :class => 'control-label'
    .controls
      = f.number_field :task_type_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), tasks_path, :class => 'btn'
